#bodyContent {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 10px auto;
}
aside {
  border: solid 2px #7400ac;
  border-radius: 20px;
  width: 20%;
  height: 90vh;
  margin: 10px;
}
#functionalities {
  list-style-type: none;
  margin-left: 0px;
}

#functionalities li {
  cursor: pointer;
  margin: 10px;
  border: solid 2px #7400ac;
  padding: 10px;
  text-align: center;
}

#functionalities li:hover {
  background-color: #c0a2f8;
}

section {
  padding-bottom: 30px;
}

.coursesContainer {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10px;
}

.course {
  width: 25vw;

  border: 2px solid #c0a2f8;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 20px;
}

.course:hover {
  border: 5px solid #7400ac;
}

.courseName {
  text-align: center;
  padding-bottom: 10px;
}

.courseId,
.teacherId {
  font-weight: 600;
  padding-bottom: 10px;
}

.courseId span,
.teacherId span {
  font-weight: normal;
  padding-left: 20px;
}

.courseId span {
  padding-left: 20px;
}

.teacherId span {
  padding-left: 7px;
}

h3 {
  font-weight: 600;
}

.courseStudents {
  display: flex;
}

.courseStudents .numOfStudents {
  padding-left: 25px;
  padding-top: 2px;
}

.courseContent {
  padding-top: 15px;
  padding-left: 15px;
  line-height: 150%;
}

.courseContent li {
  list-style: square;
}

.course {
  position: relative;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.btnContainer button {
  width: 150px;
  height: 30px;
}

.editContentContainer {
  display: none;
}

.shown {
  display: block;
  width: 60vw;
  padding: 25px 5vw;
  margin: auto;
  border: solid #7400ac;
}

.inputGroup {
  display: flex;
  margin: 5vh 0;
  align-items: center;
  justify-content: space-between;
}

.inputGroup input {
  margin-left: 25px;
}

#replaceContent, .inputGroup #backBtn {
  width: 250px;
  height: 40px;
}
