.breadCrumb {
  height: 60px;
  background-color: #bc2eff;
  padding: 0 30px;
  justify-content: flex-start;
  color: white;
}

.breadCrumb button {
  background: none;
  border: none;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}

.breadCrumb button.active {
  color: #f89f5b;
}

.sec {
  padding: 60px;
}
.student-info {
  gap: 40px;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.courses {
  margin-top: 30px;
}

.course {
  width: 30%;
  border: 1px solid #7400ac;
  border-radius: 15px;
  padding: 20px 40px;
}

.course h2 {
  color: #bc2eff;
}
.course p {
  margin: 20px 0;
  color: #f89f5b;
}
#grades {
  margin: 40px;
}
#grades-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
#grades-table th {
  padding: 20px;
  background-color: #7400ac;
  color: white;
  text-align: center;
  text-align: left;
  font-size: 28px;
  font-weight: 400;
}
#grades-table td {
  padding: 10px 55px;
}

#grades-table td:first-of-type {
  padding: 10px 30px;
}

#grades-table tr:nth-child(odd) {
  background-color: #f89f5b;
  color: white;
}
#grades-table tr:nth-child(even) {
  color: #bc2eff;
}
