#adminBody {
  display: flex;
}

aside {
  border: solid 2px #7400ac;
  border-radius: 20px;
  width: 20%;
  height: 90vh;
  margin: 10px;
}

#functionalities {
  list-style-type: none;
  margin-left: 0px;
}

#functionalities li {
  cursor: pointer;
  margin: 10px;
  border: solid 2px #7400ac;
  padding: 10px;
  text-align: center;
}

#functionalities li:hover {
  background-color: #c0a2f8;
}

.degreesContainer h3 {
  text-align: center;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 5px auto;
  border: solid rgba(0, 0, 0, 0.711);
  border-radius: 15px;
  height: 40vh;
}

table th,
table td {
  width: 50%;
  text-align: left;
}

table th {
  background-color: #ab7bc1;
}
